/* -*- mode: css -*- */
body {
        padding-top: 60px;
        padding-bottom: 40px;
}
.sidebar-nav {
        padding: 9px 0;
}
.hero-unit h1 {
        margin-bottom: 0.5em;
}

.btn-info {
        color: #222;
}

.recent-post-footer a {
        margin-bottom: 0.5em;
}

.embedded {
        -webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -ms-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        border-radius: 0.3em;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: white 0.5em solid;
        margin-right: 1.5em;
}

.hero-unit .well {
        background: #eee;
}
