/* -*- mode: css -*- */
body {
        padding-top: 100px;
        padding-bottom: 20px;
}

@media (max-width: 979px) {
        body {
                padding-top: 0px;
                padding-bottom: 0px;
        }
}

.sidebar-nav {
        padding: 9px 0;
}

.hero-unit h1 {
        margin-bottom: 0.5em;
        line-height: 1.5;
}

.hero-unit {
        padding: 30px;
}

.recent-post-footer a {
        margin-bottom: 0.5em;
}

.embedded {
        -webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -ms-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        border-radius: 0.3em;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: white 0.5em solid;
        margin-right: 1.5em;
}

/*
.hero-unit .well {
        background: #eee;
}
*/

.post-header {
        border-bottom: 1px dashed #aaa;
        margin-bottom: 0.25em;
        white-space: nowrap;
}

.post-header, .hero-unit h1 {
        overflow-y: visible;
        overflow-x: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
}
